[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/var/lib/kubelet

ExecStart=/usr/bin/kubelet \
          --config=/etc/kubernetes/kubelet/config.yaml \
          --kubeconfig=/etc/kubernetes/kubelet/kubeconfig.yaml \
          --network-plugin=cni \
          --pod-infra-container-image=k8s.gcr.io/pause:3.1 

ExecReload=/bin/kill -HUP $MAINPID

Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target

