[Unit]
Description=Retrieve certificates from Vault PKI

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/bin/nkmi-vault-cert

<%- if node[:vault_cert][:env_file] -%>
EnvironmentFile=<%= node[:vault_cert][:env_file] %>
<%- end -%>
