[Unit]
Description=vault-agent
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/vault agent -config=/etc/vault-agent.hcl
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/vault-agent/agent.pid
RuntimeDirectory=vault-agent
User=vault
Group=vault

Restart=on-failure
RestartSec=3s

<%- if node[:vault][:agent][:memory_max] -%>
MemoryMax=<%= node[:vault][:agent][:memory_max] %>
<%- end -%>
<%- if node[:vault][:agent][:memory_limit] -%>
MemoryLimit=<%= node[:vault][:agent][:memory_limit] %>
<%- end -%>

[Install]
WantedBy=multi-user.target
