[Unit]
Description=Prometheus Exporter Proxy
After=network.target
Wants=network.target

[Service]
Type=simple
User=nobody
Group=nogroup
MemoryLimit=50M
Restart=always
RestartSec=6s
ExecStart=/opt/exporter_proxy -config /etc/exporter_proxy.yml
LogsDirectory=prometheus-exporter-proxy

[Install]
WantedBy=multi-user.target
