[Unit]
Description=Google Cloud SQL Proxy
After=network.target network-online.target

[Service]
Type=simple

User=cloudsql
Group=cloudsql

RuntimeDirectory=cloud-sql-proxy cloud-sql-proxy/tmp
RuntimeDirectoryPreserve=yes

ExecStart=/usr/bin/cloud_sql_proxy \
  -dir <%= node[:cloud_sql_proxy][:dir] %> \
  -credential_file <%= node[:cloud_sql_proxy][:credential_file] %> \
  -fuse -fuse_tmp /run/cloud-sql-proxy/tmp \
  -term_timeout 30s

Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
